<?xml version="1.0" encoding="utf-8"?>
<CasClientConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Dev.CasClient.Configuration">
  <CasPath>/CAS</CasPath>
  <CasServerUrl>http://castest.youxituan.com</CasServerUrl>
  <LocalCheckPath>/Account/LocalUserCheck.html</LocalCheckPath>
  <LocalLogOffPath>/Account/LogOff.html</LocalLogOffPath>
  <LocalLoginPath>/Account/Login.aspx</LocalLoginPath>
</CasClientConfiguration>